body{
    background-image: url('https://images.alphacoders.com/769/769376.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15px;
}
#header{
    background-color: #D4F6CC;
    height: 8vh;
    width: 95vw;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 50px;
}
.col-md-4{
    display: inline-block;
}
.col-md-6{
    display: inline-block;
    padding-left: 650px;
    text-align: center;
}
.table{
    text-align: center;
    backdrop-filter: blur(10px);
}
#logout_link{
    text-decoration: none;
    color: aliceblue;
    padding-left: 5vh;
    padding-right: 5vh;
}
#left_sidebar{
    margin-top: 50px;
    width: 13vw;
    height: 30vh;
    display: inline-block;
}
#left_sidebar table tr{
    backdrop-filter: blur(50px);
    color: aliceblue;
    font-size: 19px;
}
/* #left_sidebar table tr:hover{
    background-color: #ccf6f4;
    color: black;
} */
#logout_link{
    text-decoration: none;
    color: aliceblue;
}
/* #logout_link:hover{
    background-color: #ffffff;
    color: black;
    width: 13vw;
} */
#normal_btn{
    text-decoration: none;
    color: aliceblue;
}
.link{
    text-decoration: none;
    color: aliceblue;
}
h4{
    backdrop-filter: blur(100px);
    color: aliceblue;
    border-radius: 15px;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 35vh;
    margin-right: 20vh;
    margin-left: 92vh;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
}
ul{
    backdrop-filter: blur(35px);
    color: aliceblue;
    font-size: 15px;
}
.form-group{
    color: rgb(0, 0, 0);
    background-image: url('https://img.freepik.com/premium-vector/abstract-minimal-pastel-color-watercolor-background_100956-417.jpg?size=338&ext=jpg&ga=GA1.1.735520172.1710460800&semt=ais');
    backdrop-filter: blur(30px);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 20px;
}
.form-control{
    border: none;
    background-color: rgb(255, 172, 172);
    border-radius: 10px;
    color: rgb(27, 89, 144);
    font-size: 20px;
}
.btn.btn-warning{
    color: aliceblue;
    border: none;
    background-color: rgb(17, 44, 82);
    font-size: 18px;
    border-radius: 5px;
}
#assigned{
    color: aliceblue;
    backdrop-filter: blur(60px);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 10px;
    margin-right: 550px;
    margin-left: 500px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.manage_task_table{
    color: aliceblue;
    backdrop-filter: blur(80px);
    margin-left: 150px;
    width: 75vw;
    border-radius: 15px;
    height: 14vw;
    text-align: left;
}
